*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}

html,body{
    margin: 0 auto;
    width: 100%;
    background: #fcfdf9;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 100%;
    font-size: 16px;
}
a{
    text-decoration: none;
    color:#929eac;
    display: block;
    text-align: center;
    padding: 1.5rem 0;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef
;}

.self{
    background: url(../img/menu-background.gif) repeat;
    width: 50%;
    float: left;
    color: #3b5c65;
}

.self:nth-of-type(2n){
    border-right: none;
}

.third{
    background: url(../img/menu-background.gif) repeat;
    width: 33.333333%;
    float: left;
    color: #3b5c65;
}

.iconfont {
    font-size: 6rem;
}

.name {
    font-size: 3rem;
}