.page, body {
    background-color: #f8f8f8;
}
body {
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}
body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    line-height: 1.6;
    font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}
.page__hd {
    padding: 24px;
}
.warning {
    font-weight: bold;
    color: #c14646;
}
.warning_message {
    margin-top: 33%;
    background-color: #E64340;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    color: #FFF;
    word-wrap: break-word;
    word-break: break-all;
}